/* login */
.login {
  padding: 4vh 0;

  .login_keyview {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.login_form {
  .register:hover {
    color: #fff;
  }
  .login_in {
    color: #fff;
  }
}
